/* assets/css/global.css */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'BoldenVan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}
